* {
  box-sizing: border-box;
}

/* Style the tab */
.App {
  float: left;
  border: 1px solid #ccc;
  background-color: coral;
  width: 10%;
  height: 740px;
  position: relative;
  overflow: hidden;
  padding-top: 10px;
}

/* Style the buttons inside the tab */
.App button {
  display: block;
  background-color: inherit;
  color: black;
  border: none;
  outline: none;
  text-align: left;
  cursor: pointer;
  font-size: 17px;
}

/* Change background color of buttons on hover */
.App button:hover {
  background-color: #ddd;
}

/* Create an active/current "tab button" class */
.App button.active {
  background-color: #ccc;
}
